@import "pages/variables";

.container {
  margin-right: $panel-margin;
  width: $left-sidebar-width;
  min-width: $left-sidebar-width;
  user-select: none;
}

.container >section.site-index {
  height: fit-content;
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;

  >section.board-index {
    >div.category {
      position: relative;
      display: flex;
      align-items: center;
      height: 28px;
      background-color: #6c88b3;
      >label {
        font-weight: 700;
        position: absolute;
        height: 34px;
        display: flex;
        align-items: center;
        color: #f5f5f5;
        padding: 5px;
        cursor: default;
        //z-index: 2;
      }
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        width: 100%;
        border-bottom: 2px solid #5c7498;
        z-index: 0;
      }
      //>div.color-point {
      //  position: relative;
      //  z-index: 1;
      //}
      //>div.color-point.community {
      //  top: -3px;
      //  left: 9px;
      //  width: 24px;
      //  height: 14px;
      //  background-color: #ebebeb;
      //}
      //>div.color-point.comics {
      //  top: 4px;
      //  left: 12px;
      //  width: 43px;
      //  height: 10px;
      //  background-color: #FFDE00;
      //}

    }
    >a.board, >span.board {
      display: block;
      padding: 0 10px;
      height: 28px;
      color: #9A9A9A;
      line-height: 24px;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #5c5c5c;
        background-color: #ECECEC;
      }
    }
    >span.board {
      cursor: default;
      text-decoration: line-through;
    }
  }
}