@import "pages/variables";


.container {
  width: 100%;

  //input[type="file"] {opacity: 0}
}



.container >section.menus {
  border-bottom: 1px solid #d7d7d7;
}



// EDITOR
.container >section.editor {
  position: relative;

}

$border-color: #FFDE00;

.container >section.editor >div.writing-board {
  min-height: 200px;
  outline: none;
  padding: 80px 5px 80px 5px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &:hover {
    background-color: #ffffff;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
  }
  &:focus {
    background-color: #ffffff;
  }

  @include post_article_style;
  >p >a {
    color: #2196f3;
    &:hover {
      color: #1c79c4;
    }
    &:visited {
      color: #2196f3;
      &:hover {
        color: #1c79c4;
      }
    }
  }
}


.container >section.editor >section.clear-post {
  position: absolute;
  top: 2px;
  right: 0;
  display: flex;
  align-items: center;
  >button.clear {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 2px;
    >div.icon {
      width: 14px;
      height: 14px;
      background-image: $icon_new_file_red;
      background-size: cover;
      filter: saturate(0) brightness(1.8);
    }
    >label {
      cursor: pointer;
      font-family: "Noto Sans KR", sans-serif;
      color: #c7c7c7;
      font-size: 11px;
    }
    &:hover {
      >div.icon { filter: saturate(0) brightness(0) }
      >label { color: #262626 }
    }
    &:active {
      background-color: #262626;
      >div.icon { filter: saturate(0) brightness(3) }
      >label { color: #f5f5f5 }
    }
  }
  >p.temp-post-update-time {
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 300;
    &:hover {
      color: #262626
    }
  }
}