@import "pages/variables";



.container {
  $padding: 8;

  display: inline-block;
  padding: 0 #{$padding}px;
  width: 100%;


  // CARD
  >a.card {
    display: block;
    position: relative;
    height: 100%;
    //cursor: pointer;
    border-radius: 2px;
    overflow: hidden;


    >div.thumbnail {
      overflow: hidden;
      >img {
        transition: transform .4s;
        transform: scale(1);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    >div.desc {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to right, rgba(38, 38, 38, 0.7) 50%, rgba(38, 38, 38, .1) 100%);
      padding: 12px;
      transition: background .4s;
      >span.title {
        color: #F5F5F5;
        //background-color: red;
      }
      >span.episode {
        font-size: 11px;
        color: #a4bac9;
        font-weight: 300;
      }
    }

    &:hover {
      >div.thumbnail >img{
        transition: transform 1.2s;
        transform: scale(1.3);
      }
      >div.desc {
        transition: background-color .8s;
        transition-delay: .6s;
        background-color: rgba(38, 38, 38, 0.85);
      }
    }
  }
}


// BIG CARD
.container.big {
  width: 50%;
  height: 100%;

  >a.card {
    >div.thumbnail {
      height: 100%;
    }

    >div.desc {
      height: 40%;
      >span.title {
        display: block;
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }
    }
  }
}


// SMALL CARD
.container.small {
  height: 100%;


  >a.card {
    >div.thumbnail {
      height: 100%;
    }

    >div.desc {
      height: 90px;
      >span.title {
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-bottom: 4px;
      }
    }
  }
}