@import "pages/variables";


.container {
  padding: 30px;
  background-color: #ffffff;
  width: 990px;
  //margin-right: 140px;
  min-height: 1000px;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
}


.container >section.first {

}