@import "pages/variables";


.container {

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 60px;

  >div:not(.numbers), >a:not(.numbers) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 4px;
    border-radius: 2px;
    cursor: pointer;
    >div.icon {
      width: 5px;
      height: 8px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    >span {
      font-size: 12px;
    }

    &:hover {
      background-color: #e1e1e1;
    }
    &:active {
      box-shadow: 0 0 0 1px #262626 inset;
    }
  }

  >div.to_firstpage, >a.to_firstpage {
    >div.icon {
      background-image: $icon_arrow_left;
    }
    >span {
      margin-left: 2px;
    }
  }
  >div.to_prevpage, >a.to_prevpage {
    >div.icon {
      background-image: $icon_arrow_left;
    }
    >span {
      margin-left: 2px;
    }
  }
  >div.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    >p, >a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      width: 27px;
      height: 36px;
      border-radius: 2px;
      &:hover {
        background-color: #e1e1e1;
      }
      &:active {
        box-shadow: 0 0 0 1px #262626 inset;
      }
    }
    >p.selected, >a.selected {
      background-color: #ececec;
    }
  }
  >div.to_nextpage, >a.to_nextpage {
    >div.icon {
      background-image: $icon_arrow_right;
    }
    >span {
      margin-right: 2px;
    }
  }
}


.container.dark {
  >div:not(.numbers), >a:not(.numbers) {
    >span {
      color: #9A9A9A;
    }

    &:hover {
      background-color: transparent;
      color: #D5D5D5;
    }
    &:active {
      box-shadow: 0 0 0 1px #D5D5D5 inset;
      color: #D5D5D5;
    }
  }


  >div.numbers {
    >p, >a {
      color: #9A9A9A;

      &:hover {
        background-color: transparent;
        color: #D5D5D5;
      }
      &:active {
        box-shadow: 0 0 0 1px #D5D5D5 inset;
        color: #D5D5D5;
      }
    }
    >p.selected, >a.selected {
      background-color: transparent;
      color: #F5F5F5;
    }
  }


  >div.to_firstpage, >a.to_firstpage, >div.to_nextpage, >a.to_nextpage {
    >div.icon {
      filter: brightness(4);
    }
  }
}