@import "pages/variables";


.container {
  height: 140px;
  background-color: #ffffff;
}


.container >form {

  >section.data {
    position: relative;
    height: 50px;
    >input {
      font-family: "Noto Sans KR", sans-serif;
      border: 1px solid #EAEAEA;
      outline: none;
      height: 24px;
      letter-spacing: 1px;
      padding-left: 4px;
      width: 156px;
      border-radius: 0;
      &::placeholder {
        color: #9A9A9A;
      }
      &:nth-child(1) {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom: 1px solid #EAEAEA;
      }
      &:nth-child(2) {
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }


  >section.menu {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div.stay-logged-in {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      >div.checkbox {
        width: 16px;
        height: 16px;
        background-image: $icon_small_checkbox_checked;
        background-size: cover;
      }
      >div.checkbox_blank {
        width: 16px;
        height: 16px;
        background-image: $icon_small_checkbox_blank;
        background-size: cover;
      }
      >label {
        margin-left: 1px;
        color: #9A9A9A;
        position: relative;
        cursor: pointer;
      }
      &:hover {
        >label { color: $base-color }
      }
    }

    .login-btn {
      float: right;
      @include button-style;
    }
  }
}


.container >section.account {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px dashed #e1e1e1;

  >label {
    color: #9A9A9A;
    cursor: pointer;
    &:hover {
      color: $base-color;
    }
  }
  >label.find-account {

  }
  >label.register {
    display: flex;
    align-items: center;
    >div.icon {
      width: 15px;
      height: 15px;
      background-image: $icon_account_gray;
      background-size: cover;
      display: inline-block;
    }
    label {
      cursor: pointer;
    }
    &:hover {
      >div.icon {
        filter: brightness(30%);
      }
    }
  }
}