.container {
  top: 15px;
  position: sticky;
}

.container >section {
  background-color: #FFFFFF;
  padding: 10px;
  //position: absolute;
  display: flex;
  justify-content: center;
}

.container >section.wide {
  left: -140px;
}