@import "pages/variables";


.container {

}


.container >section.top {
  padding-bottom: 2px;
  margin-bottom: 1px;
  border-bottom: 1px dashed #E1E1E1;

  >p.subscription_page {
    cursor: default;
    color: #9A9A9A;
    >div.small {
      font-weight: 300;
      color: #d8dadc;
      transform: scale(0.9);
      display: inline-block;
      font-size: 10px;
      vertical-align: text-bottom;
    }
    //&:hover {
    //  color: $base-color;
    //  >div.small {
    //    color: #ff4b4b;
    //  }
    //}
  }
}


.container >section.middle {
  >div.card {
    $container-width: 156px;
    $card-width: 380px;
    $card-height: 240px;
    $image-width: 60%;
    $image-divider-lefthalf-width: calc(#{$card-height}/100*9);
    $image-divider-righthalf-width: calc(#{$card-height}/100*4);
    $ep_number_length: 24;

    @mixin card-transition {
      transition: .4s .1s;
    }

    position: relative;
    //font-family: "Noto Serif KR", serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: $card-width;
    max-width: 156px;
    height: $card-height;
    max-height: 16.8px;
    border-radius: 2px;
    transform: translateX(0);
    @include card-transition;

    &:hover {
      max-width: #{$card-width + 15px};
      max-height: $card-height;
      background-color: #1f1f1f;
      transform: translateX(-(#{$card-width - $container-width}));
    }


    // DEFAULT CONTENT
    >div.default-content {
      @include card-transition;
      width: 100%;

      >span.title {
        @include card-transition;
        display: inline-block;
        color: #aaaaaa;
        font-size: 10px;
        max-width: calc(100% - #{$ep_number_length}px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      >div.number {
        @include card-transition;
        max-width: #{$ep_number_length}px;
        font-weight: 300;
        margin-left: 2px;
        display: inline-block;
        font-size: 10px;
        color: #d5d5d5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &:hover >div.default-content {
      opacity: 0;
      >span.title {
        color: #eaeaea;
        font-size: 12px;
      }
      >div.number {
      }
    }


    // OPEN CONTENT
    >a.open-content {
      @include card-transition;
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      >div.thumbnail {
        width: $image-width;
        height: $card-height;
        >img {
          @include card-transition;
          border-radius: 2px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      >div.no_thumbnail {
        @include card-transition;
        border-radius: 2px;
        width: $image-width;
        height: $card-height;
        display: flex;
        justify-content: center;
        align-items: center;
        >p {
          color: #9A9A9A;
        }
      }

      >div.divider {
        @include card-transition;
        display: inline-block;
        position: absolute;
        top: 0;
        left: calc(#{$image-width} - #{$image-divider-lefthalf-width});
        width: 0;
        height: 100%;
        color: #eaeaea;
        >div {
          position: absolute;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 0, 80% 0, 100% 100%, 70% 100%);
          background: linear-gradient(#c02d28, #e66225);
        }
      }
      >div.desc {
        @include card-transition;
        position: absolute;
        top: 0;
        left: calc(#{$image-width} + #{$image-divider-righthalf-width});
        width: 0;
        height: 100%;
        >div.title {
          transition: .4s;
          opacity: 0;
          color: #1f1f1f;
          text-align: center;
          padding: 0 6px 0 0;
          >p.number {
            font-size: 10px;
          }
          >p.text {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.1em;
          }
          >p.origin {
            margin-top: 5px;
            font-size: 11px;
            font-weight: bold;
            line-height: 1.1em;
          }
        }
        >div.summary {
          transition: .4s;
          opacity: 0;
          color: #1f1f1f;
          padding: 0 5px 0 6px;
          >p.content {
            font-size: 11px;
          }
        }
      }
    }
    // OPEN CONTENT HOVER
    &:hover >a.open-content {
      opacity: 1;
      width: $card-width;
      height: $card-height;
      overflow: hidden;
      >img {
        border-radius: 2px;
        width: $image-width;
        height: 100%;
        object-fit: cover;
      }
      >div.divider {
        display: inline-block;
        position: absolute;
        top: 0;
        left: calc(#{$image-width} - #{$image-divider-lefthalf-width});
        width: 30px;
        height: 100%;
        color: #eaeaea;
        >svg {
          position: absolute;
        }
      }
      >div.desc {
        position: absolute;
        top: 0;
        left: calc(#{$image-width} + #{$image-divider-righthalf-width});
        width: calc(40% - #{$image-divider-righthalf-width});
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >div.title {
          display: block;
          word-break: break-word;
          //word-wrap: break-word;
          transition: .2s .5s;
          opacity: 1;
          >p.number {
            color: rgba(255, 75, 75, 0.9);
          }
          >p.text {
            color: #eaeaea;
          }
          >p.origin {
            color: #747474;
          }
        }
        >div.summary {
          display: block;
          word-break: break-word;
          //word-wrap: break-word;
          transition: .2s .5s;
          opacity: 1;
          margin-top: 10px;
          >p.content {
            color: #D8D8D8;
          }
        }
      }
    }


    // CARD DELETE BUTTON
    >div.delete {
      @include card-transition;
      position: absolute;
      top: 3px;
      right: 3px;
      opacity: 0;
      width: 10px;
      height: 10px;
      background-image: $icon_trash_can_red;
      background-size: cover;
      filter: saturate(0) brightness(80%);
    }
    &:hover >div.delete {
      opacity: 1;
      width: 20px;
      height: 20px;
      &:hover {
        transition: 0s;
        filter: saturate(100%) brightness(100%);
      }
    }


    // CARD INFO
    >div.bottom {
      @include card-transition;
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(.8);
      >div.translator {
        font-size: 9px;
        cursor: default;
      }
      >div.up-time {
        margin-left: 7px;
        font-size: 9px;
        cursor: default;
      }
    }
    &:hover >div.bottom {
      opacity: 1;
      >div.translator {
        color: rgba(154, 154, 154, 0.5);
        &:hover {
          color: #eaeaea;
        }
      }
      >div.up-time {
        color: rgba(154, 154, 154, 0.5);
        &:hover {
          color: #eaeaea;
        }
      }
    }
  }


  >div.more-dots {
    width: 15px;
    height: 10px;
    background-image: $icon_more_dots_horiz;
    background-size: cover;
    cursor: pointer;
    &:hover {
      filter: brightness(30%);
    }
  }
}