@import "pages/variables";



.button {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 32px;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;

  >div.icon {
    background-size: cover;
    width: 18px;
    height: 18px;
    margin: 0 8px;
  }

  >i {
    height: 10px;
    border-right: 1px solid #F5F5F5;
  }

  >div.text {
    padding: 0 18px;
    >label {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      color: #F5F5F5;
      cursor: pointer;
    }
  }
}


/* button types */
.button.post-upload {
  background-color: #495cc3;
  .icon img {
    position: relative;
    right: -2px;
  }
  &:hover {
    background-color: #3d4c9e;
  }
}
.button.post-cancel {
  background-color: #a2a2a2;
  .icon img {
    position: relative;
    right: -2px;
  }
  &:hover {
    background-color: #8b8b8b;
  }
}
.button.post-temp-save {
  background-color: #727272;
  .icon img {
    position: relative;
    right: -2px;
  }
  &:hover {
    background-color: #616161;
  }
}
.button.to_home {
  background-color: #6383c5;
  >div.icon {
    background-image: $icon_home;
  }
  &:hover {
    background-color: #475e8d;
  }
  &:active {
    background-color: #36486c;
  }
}
.button.go_back {
  background-color: #b7b7b7;
  &:hover {
    background-color: #8e8e8e;
  }
  &:active {
    background-color: #747474;
  }
}
.button.write_post {
  background-color: #2971c3;
  &:hover {
    background-color: #276bb8;
  }
  &:active {
    background-color: #2460a5;
  }
  >div.icon {
    width: 16px;
    height: 16px;
    background-image: $icon_write_post;
    background-size: cover;
  }
}
.button.upload_notice_post {
  background-color: #009688;
  &:hover {
    background-color: #006c62;
  }
}

// COMICS
.button.comics_series_search {
  background-color: #f5f5f5;
  >div.text >label {
    color: #262626;
  }
  &:hover {
    background-color: #c9c9c9;
  }
  &:active {
    background-color: #9c9c9c;
  }
}
.button.comics_series_register {
  background-color: #f5f5f5;
  >div.text >label {
    color: #262626;
  }
  &:hover {
    background-color: #c9c9c9;
  }
  &:active {
    background-color: #9c9c9c;
  }
}
.button.comic_book_register_book, .button.comic_book_register_editing_book {
  background-color: #2971c3;
  >div.text >label {
    color: #F5F5F5;
  }
  &:hover {
    background-color: #276bb8;
  }
  &:active {
    background-color: #2460a5;
  }
}
.button.comic_book_cancel_writing {
  background-color: #a2a2a2;
  >div.text >label {
    color: #F5F5F5;
  }
  &:hover {
    background-color: #8b8b8b;
  }
  &:active {
    background-color: #7b7b7b;
  }
}
