@import "pages/variables";


.button {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 26px;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;

  >div.icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    margin: 0 6px;
  }

  >i {
    height: 8px;
    border-right: 1px solid #F5F5F5;
  }

  >div.text {
    padding: 0 15px;
    >label {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      color: #F5F5F5;
      cursor: pointer;
    }
  }
}


/* button types */

// USER
.button.user_unregister {
  background-color: #c8c8c8;
  &:hover {
    background-color: #868686;
  }
}

.button.edit-post {
  background-color: #768ad5;
  >div.icon {
    width: 11.5px;
    height: 11.5px;
    margin: 0 5px 0 7px;
    background-image: $icon_article_edit;
  }
  &:hover {
    background-color: #6272b0;
  }
}

.button.delete-post {
  background-color: #5c5c5c;
  >div.icon {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    background-image: $icon_delete;
  }
  &:hover {
    background-color: #404040;
  }
}

.button.login {
  background-color: #5b86df;
  &:hover {
    background-color: #4463a5;
  }
}

.button.logout {
  background-color: #c8c8c8;
  &:hover {
    background-color: #868686;
  }
}

.button.comic_book_edit {
  background-color: #768ad5;
  &:hover {
    background-color: #6272b0;
  }
}

.button.comic_book_delete {
  background-color: #5c5c5c;
  &:hover {
    background-color: #404040;
  }
}