@import "pages/variables";


$form_color: #fbf2c5;
//$form_color: #ffffff;
$priority_color: #306642;
//$priority_color: #262626;


.container {
  width: $main-panel-width;
  //background-color: #{$form_color};
  background-color: #FFFFFF;
  border-right: 2px solid #d8dadc;
  border-left: 2px solid #d8dadc;

  >main {
    //border: 2px solid $priority_color;
    //box-shadow: 0 0 .5px .5px #{$priority_color}, 0 0 .5px .5px inset #{$priority_color};
    padding: 10px 30px;
    //font-family: "Noto Serif KR", serif;
    //text-shadow: 0 0 .5px #{$priority_color};
  }
}



// TITLE SECTION
.container >main >section.board_title {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  //border-bottom: 4px solid #2196F3;

  >a.title >div {
    display: flex;
    flex-direction: column;
    >p {
      color: #303030;
      font-weight: 700;
    }
    >p.site_logo {
      font-family: "Staatliches", sans-serif;
      font-size: 58px;
      line-height: 58px;
    }
    >p.board_title {
      font-size: 42px;
    }
    &:active {
      >p {
        color: #555555;
      }
    }
  }
}


// HOW TO USE SECTION
.container >main >section.how_to_use {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  >blockquote {
    margin: 0 5px;
    width: 100%;
    position: relative;
    >span {
      display: block;
      margin-bottom: 8px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        background-color: #435e87;
        clip-path: polygon(0 0, 100% 0, 0 100%);
        border-top-left-radius: 4px;
      }
    }
  }
}



// COMICS SERIES SEARCH BAR
// REGISTER COMICS SERIES
.container >main >section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 0 90px 0;

  //// COMICS SERIES SEARCH SECTION
  //>section:nth-of-type(1) {
  //  margin-right: 20px;
  //}


  // COMICS SERIES REGISTRATION SECTION
  >section:nth-of-type(1) {
    width: fit-content;
  }



}