@import "pages/variables";




.container {
  >div.option {
    margin: 12px 0;
    width: fit-content;
    display: flex;
    align-items: center;
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    >div.name {
      width: 150px;
      justify-content: left;
      font-size: 16px;
    }

    >div.buttons {
      padding: 0 18px;

      >div.number {
        width: 70px;
        color: #ff4b4b;
        font-size: 18px;
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >div.number.unavailable {
        color: #d4d4d4;
      }

      >div.add_button, >div.sub_button {
        display: flex;
        align-items: center;
        justify-content: center;
        $size: 28;
        border: 1px solid #bababa;
        border-radius: 4px;
        cursor: pointer;
        height: #{$size}px;
        width: #{$size}px;
        background-color: #e5e5e5;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
        user-select: none;
        >div.icon {
          $size: 20;
          width: #{$size}px;
          height: #{$size}px;
          background-size: contain;
          background-repeat: no-repeat;
          filter: brightness(5.2);
        }
        &:hover {
          background-color: #dcdcdc;
        }
        &:active {
          background-color: #cdcdcd;
          >div.icon {
            filter: brightness(4.8);
          }
        }
      }
      >div.add_button {
        >div.icon {
          background-image: $icon_plus;
        }
      }
      >div.sub_button {
        >div.icon {
          background-image: $icon_minus;
        }
      }
    }
  }
  >div.option.disabled {
    cursor: default;
    >div.name {
      opacity: 0.12;
    }
    >div.buttons {
      >div.number {
        opacity: 0.12;
      }
      >div.add_button, >div.sub_button {
        opacity: 0.3;
        cursor: default;
        &:hover, &:active {
          background-color: #e5e5e5;
          >div.icon {
            filter: brightness(5.2);
          }
        }
      }
    }
  }
  >div.option.blocked {
    >div.buttons {
      >div.number {
        color: #262626;
      }
      >div.add_button, >div.sub_button {
        opacity: 0.3;
        cursor: default;
        &:hover, &:active {
          //background-color: #e5e5e5;
          //>div.icon {
          //  filter: brightness(5.2);
          //}
        }
      }
    }
  }
}