$kbd_height: 24;


@import "pages/variables";


.container {
  width: 100%;

  border-top: 4px solid #acbbd3;
  border-right: 4px solid #c3cfe1;
  border-bottom: 4px solid #d5e3f7;
  border-left: 4px solid #c3cfe1;
  border-radius: 4px;
  background-color: #ebf2ff;
  min-height: 200px;
  position: relative;

  kbd {
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
    padding: 4px 8px;
    border-radius: 4px;
    height: #{$kbd_height}px;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
}



.container >section.menu {
  padding: 8px 8px;
  margin: 0 4px 30px 4px;
  border-bottom: 1px solid #acbbd3;

  >div.upload_button {
    padding: 2px 8px;
    background-color: #e5e5e5;
    width: fit-content;
    border: 1px solid #bababa;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    &:hover {
      background-color: #d7d7d7;
    }
    &:active {
      background-color: #c7c7c7;
    }

    >input[type="file"] {
      display: none;
    }
  }
}



.container >section.images_display {


  >div.loading_image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
  }
}



.container >section.images_display >div.page {
  $img_width: 130;
  $top_icon_size: 24;
  $bottom_icon_size: 24;
  $padding_width: 6;
  $padding_height: 8;

  display: inline-block;
  width: #{$img_width + $padding_width*2}px;
  height: #{$img_width/2*3 + $top_icon_size/2 + $bottom_icon_size/2 + $padding_height*2}px;
  padding: #{$padding_height}px #{$padding_width}px;
  user-select: none;
  position: relative;


  // PAGE TYPE(SINGLE/WIDE) TOGGLE BUTTON
  >section.page_type_toggle {
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
  }


  // PAGE BIND(PAIR) TOGGLE BUTTON
  >kbd.page_bind {
    position: absolute;
    z-index: 3;
    top: calc(50% - #{$kbd_height/2}px);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;

  }
  >kbd.page_bind.left_page {
    right: -40px;
  }
  >kbd.page_bind.right_page {
    left: -40px;
  }


  // DELETE BUTTON
  >div.delete_button {
    $size: 24;
    display: none;
    position: absolute;
    top: 5px;
    z-index: 3;
    right: 0;
    width: #{$size}px;
    height: #{$size}px;
    background-image: $icon_cancel_outlined_red;
    background-size: cover;
    cursor: pointer;
    filter: saturate(0) brightness(1.8);
    &:hover {
      filter: brightness(1);
    }
    &:active {
      filter: brightness(.8);
    }
  }
  >div.delete_button.visible {
    display: block;
  }


  // DRAG DROP PAD
  >div.drop_pad {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: none;
  }
  >div.drop_pad.left {
    left: 0;
  }
  >div.drop_pad.right {
    left: 50%;
  }
  >div.drop_pad.visible {
    display: inline-block;
  }
  >div.drop_pad.left.focused {
    &::after {
      $width: 4;
      content: "";
      position: absolute;
      top: 0;
      left: -#{$width/2}px;
      width: #{$width}px;
      height: 100%;
      background-color: lawngreen;
    }
  }
  >div.drop_pad.right.focused {
    &::after {
      $width: 4;
      content: "";
      position: absolute;
      top: 0;
      right: -#{$width/2}px;
      width: #{$width}px;
      height: 100%;
      background-color: lawngreen;
    }
  }


  // PAGE CONTENT
  >div.content {
    position: relative;
    margin-top: #{$top_icon_size/2}px;
    margin-bottom: #{$bottom_icon_size/2}px;
    width: 100%;
    height: #{$img_width/2*3}px;
    background-color: #161616;
    cursor: pointer;

    >section.page_type {
      position: absolute;
      top: -#{$top_icon_size/2}px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      >div.icon {
        font-family: "Staatliches", sans-serif;
        height: #{$top_icon_size}px;
        min-width: 50px;
        padding: 0 5px;
        color: green;
        justify-content: center;
        align-items: center;
        border: 2px solid green;
        background-color: #FFFFFF;
        border-radius: 4px;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        margin: 0 2px;
      }
    }


    >section.image {
      width: 100%;
      height: 100%;
      display: flex;
      >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    >section.image.outlined {
      outline: 4px solid lawngreen;
    }


    >section.page_number {
      position: absolute;
      width: 100%;
      bottom: -#{$bottom_icon_size/2}px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      >div.icon {
        font-family: "Staatliches", sans-serif;
        height: #{$bottom_icon_size}px;
        min-width: #{$bottom_icon_size}px;
        padding: 0 5px;
        color: green;
        justify-content: center;
        align-items: center;
        border: 2px solid green;
        background-color: #FFFFFF;
        border-radius: #{$bottom_icon_size/2}px;
        font-size: 18px;
        line-height: 18px;
        display: flex;
      }
    }
  }
}
.container >section.images_display >div.page.wide {
  $img_width: 260;
  $top_icon_size: 24;
  $bottom_icon_size: 24;
  $padding_width: 6;
  $padding_height: 8;
  width: #{$img_width + $padding_width*2}px;
}
.container >section.images_display >div.page.double {
  $img_width: 260;
  $top_icon_size: 24;
  $bottom_icon_size: 24;
  $padding_width: 6;
  $padding_height: 8;
  width: #{$img_width + $padding_width*2}px;
  >div.content {
    >section.image {
      >img {
        width: 50%;
      }
    }
  }
}