@import "pages/variables";


.container {
  border-top: 4px solid #acbbd3;
  border-right: 4px solid #c3cfe1;
  border-bottom: 4px solid #d5e3f7;
  border-left: 4px solid #c3cfe1;
  border-radius: 4px;
  background-color: #ebf2ff;
}


.container >section.link_input {
  padding: 15px 30px 0 30px;
  margin: 0 4px;
  >textarea {
    font-family: "Noto Sans KR", sans-serif;
    resize: none;
    overflow-y: hidden;
    width: 100%;
  }
}


.container >section.info_display {
  >div.book_cover_upload {
    padding: 8px 30px;
    margin: 0 4px;
    border-bottom: 1px solid #acbbd3;

    >div.button {
      padding: 2px 8px;
      background-color: #e5e5e5;
      width: fit-content;
      border: 1px solid #bababa;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      font-size: 13px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
      &:hover {
        background-color: #d5d5d5;
      }
      &:active {
        background-color: #c4c4c4;
      }

      >input[type="file"] {
        display: none;
      }
    }
  }


  >div.book_cover {
    margin: 15px auto;
    width: fit-content;
    background-color: #1c79c4;
    padding: 4px;
    border-radius: 4px;
    line-height: 0;
    >img {
      max-width: 300px;
    }
    >div.no_thumbnail {
      width: 200px;
      height: 300px;
      background-color: #F5F5F5;
      display: flex;
      justify-content: center;
      align-items: center;
      >span {
        color: #D5D5D5;
        font-size: 16px;
      }
    }
  }
}