@import "pages/variables";

$form_color: #262626;

.container {
  background-color: #{$form_color};
  position: relative;
  display: flex;

  border-radius: 2px;
}


$priority_color: #F5F5F5;
$point_color: #ff4b4b;
$dark_color: #747474;


.container >section.series_info {
  width: 400px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  font-weight: 300;

  // DOC TITLE SECTION
  >section.doc_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Serif KR", serif;

    >div {
      >p {
        color: #{$priority_color};
      }
      >p.com_logo {
        color: $point_color;
        font-family: "Staatliches", sans-serif;
        font-size: 40px;
        font-weight: 400;
        margin-right: 6px;
      }
    }
    >div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 55px;

      >p.form_title {
        font-size: 18px;
        line-height: 19px;
      }
      >p.form_sub_title {
        font-size: 10px;
        color: $dark_color;
      }
    }
  }


  // COMICS SERIES TITLE SECTION
  >section.comics_series_title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 55px;

    >p {
      color: #{$priority_color};
      text-align: center;
      font-weight: 400;
    }
    >p.kor_title {
      font-size: 32px;
    }
    >p.origin_title {
      font-size: 18px;
      color: $dark_color;
    }
  }
}



$divider_width: 70;

// DIVIDER
.container >section.divider {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: calc(400px - #{$divider_width/2}px);

  >div.poly {
    width: #{$divider_width}px;
    height: 100%;
    background: linear-gradient(#c02d28, #e66225);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 70% 100%);
  }
}




// SERIES RELATED ITEMS
.container >section.related_item {
  margin-left: #{$divider_width/2}px;
  color: #F5F5F5;
  padding: 5px 30px;
  width: calc(100% - #{400 + $divider_width/2}px);


  >section.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;

    >p {
      color: #{$priority_color};
      font-family: "Noto Serif KR", serif;
    }
    >p.form_title {
      font-size: 18px;
      line-height: 19px;
    }
    >p.form_sub_title {
      font-size: 10px;
      color: $dark_color;
      font-weight: 300;
    }
  }


  >section.items {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
  }


  >section.items >section.list {
  }


  >section.items >section.add_new_item {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    >div.button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;

      >div.icon {
        width: 40px;
        height: 40px;
        background-image: $icon_add_circle;
        background-size: cover;
        margin-right: 4px;
        filter: brightness(.45);
      }
      >p {
        font-size: 20px;
        color: $dark_color;
      }

      &:hover {
        >div.icon {
          filter: brightness(.8);
        }
        >p {
          color: #c4c4c4;
        }
      }
      &:active {
        >div.icon {
          filter: brightness(.6);
        }
        >p {
          color: #9c9c9c;
        }
      }
    }
  }

}



.container ul {
  list-style: none;
  padding-left: 0;

  >li.comics_series_item {
    >section.info {
      >div.title {
        >p.kor {
          font-size: 18px;
          line-height: 20px;
        }
        >p.origin {
          font-size: 12px;
          color: $dark_color;
        }
      }
    }

    >section.list {

    }
  }
}