@import "pages/variables";

.container {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: calc(#{$doc-width} + #{$panel-margin*2});
  height: 53px;
  margin-bottom: $panel-margin;
  background-color: #435e87;;
  border-bottom: 3px solid #d8dadc;
  z-index: 2;
  user-select: none;
  //&::before {
  //  content: "";
  //  position: absolute;
  //  width: 100%;
  //  bottom: 0;
  //  border-bottom: 2px solid #2196F3;
  //  z-index: 1;
  //}
}

.container >section.logo {
  width: $doc-width;
  height: 100%;
  margin: auto;
  //display: flex;

  >div.dots {
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    >div.color-dot {
      width: 10px;
      height: 10px;
      background-color: #2196F3;
      border-radius: 1.4px;
    }
  }
  >div.icon {
    display: inline-block;
    width: fit-content;
    height: 100%;
    padding-left: 5px;
    cursor: pointer;
    >a {
      font-family: "Staatliches", sans-serif;
      font-size: 60px;
      line-height: 52px;
      font-weight: bold;
      //height: 100%;
      color: #F5F5F5;
      display: inline;
      >span.color-dot {
        color: #2196F3;
      }
      &:active {
        color: #d9d9d9;
      }
    }
  }
}