@import "pages/variables";


.container {
  height: 100%;
  padding: 4px 6px;
  display: flex;
  flex-direction: column;

  // SECTION
  // CHECK ALL LIST AS READ BUTTON
  >section.menu {
    display: flex;
    width: 100%;
    height: 24px;
    padding: 0 8px;

    >label.check_all_list_button {
      color: #2196f3;
      margin: auto 0 auto auto;
      cursor: pointer;
      font-weight: 300;
      user-select: none;

      &:hover {
        color: #4badff;
      }
      &:active {
        color: #91c8ff;
      }
    }
  }


  // NOTIFICATION LIST SECTION
  >section.list {

    >div.no_items_message {
      height: 100%;
      text-align: center;
      color: #9A9A9A;
    }

  }


  >section.page_nav {
    margin: auto 0 0 0;
    background-color: #253449;
    padding: 4px;
    >div {
      height: auto;
      //p, div {
      //  background-color: #262626;
      //  color: #2196f3;
      //}
    }
  }
}