@keyframes stretch {
  0% {
    transform: scale(.5);
    background-color: #768ad5;
  }
  50% {
    background-color: #768ad5;
  }
  100% {
    transform: scale(1);
    background-color: #3b5cd4;
  }
}

@mixin dot {
  width: 5px;
  height: 5px;
  margin: 0 3px;
  background-color: #5c5c5c;
  border-radius: 100%;
}

$dot-duration: .7s;
$dot-delay: .3s;

.wrapper {
  display: inline-block;
  >div {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.first-dot {
  @include dot;

  animation-name: stretch;
  animation-duration: $dot-duration;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

.second-dot {
  @include dot;

  animation-name: stretch;
  animation-duration: $dot-duration;
  animation-delay: $dot-delay;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.third-dot {
  @include dot;

  animation-name: stretch;
  animation-duration: $dot-duration;
  animation-delay: calc(#{$dot-delay}*2);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}