@import "pages/variables";


.container {
  width: $main-panel-width;
  background-color: #ffffff;
  padding: 30px;



  h3 {
    width: fit-content;
    border-bottom: 1px solid #e1e1e1;
  }

  > form {
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;

    > div {
      margin: 15px 0;
      display: flex;
      align-items: center;

      > p {
        display: inline-block;
        width: 80px;
      }

      > div {
        height: 8px;
        display: inline-block;
        border-right: 1px solid #e1e1e1;
      }

      > input {
        margin-left: 15px;
      }


      .id, .email {
        width: 400px;
        border: transparent;
      }
      .readonly-input {
        color: #5c5c5c;
        background-color: #eaeaea;
      }
    }

    > input[type="submit"] {
      margin: 15px 0;
      @include button-style;
    }
  }
}



.container >section.user_unregister {
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}