@import "pages/variables";


.container {
  padding: 15px 20px 20px 20px;
  background-color: #ffffff;
}


$board_post_height: 36;
$article_border_color: #F3F3F3;
$article_border_darker_color: #E1E1E1;



// TAB SECTION
.container >section.tab {
  margin-bottom: 2px;

  >a {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    min-width: 80px;
    height: 40px;
    font-size: 14px;
    padding: 0 16px;

    border-radius: 2px;
    border: 2px solid #{$article_border_color};

    &:hover {
      background-color: #f6f6f6;
    }
    &:active {
      background-color: #eeeeee;
    }
  }
  >a.fill {
    color: #F5F5F5;
    //background-color: #4666d7;
    background-color: #2971c3;

    &:hover {
      //background-color: #3c57b8;
      background-color: #276bb8;
    }
    &:active {
      //background-color: #314693;
      background-color: #2460a5;
    }
  }
}



// POST LIST SECTION
.container >section.list {
  >section:nth-of-type(1), >section:nth-of-type(2) {
    width: 100%;
  }

  >section >article.post {
    position: relative;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 6px;
    height: #{$board_post_height}px;

    border-bottom: 1px solid #{$article_border_darker_color};
    border-left: 2px solid #{$article_border_color};
    border-right: 2px solid #{$article_border_color};

    &:first-of-type {
      border-top: 2px solid #{$article_border_color};
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    &:last-of-type {
      border-bottom: 2px solid #{$article_border_color};
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &:hover {
      background-color: #f8f8f8;
    }


    >div.title {
      margin-left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      >a.title {
        >span {
          font-size: 14px;
          cursor: pointer;
          max-width: 440px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:visited {
          color: #9b9b9b;
          //color: #8282aa;
        }
      }
      >a.title.fresh {
        &:visited {
          color: #262626;
        }
      }

      >label.comment_count {
        margin-left: 5px;
        font-size: 11px;
        color: #ff4b4b;
        border-radius: 4px;
      }

      // POST TYPE ICON
      >div.post_type_icon {
        display: flex;
        width: 24px;
        height: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-right: 4px;
        font-size: 11px;
      }
      >div.post_type_icon.notice {
        color: #ff4b4b;
        border: 1px solid #ff4b4b;
        background-color: #ffeded;
      }
    }

    >div.post_metadata {
      font-size: 11px;
      font-weight: 300;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #9A9A9A;
      >div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >div.nickname {
        //border-left: 1px solid #e1e1e1;
        margin-left: auto;
        width: 120px;
        >label {
          max-width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      >div.views {
        //border-left: 1px solid #e1e1e1;
        width: 60px;
      }
      >div.time {
        //border-left: 1px solid #e1e1e1;
        width: 60px;
      }
    }
  }

  >section >article.post.highlight {
    background-color: #e7ecff;

    &::after {
      content: "";
      background-color: #859bea;
      position: absolute;
      left: -2px;
      width: 2px;
      height: 100%;
    }
  }


  // NOTICE POST LIST SECTION
  >section.notice_list >article {
    >div.notice_type_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      >label {
        display: flex;
        width: 24px;
        height: 16px;
        color: #ff4b4b;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        border: 1px solid #ff4b4b;
        border-radius: 4px;
        background-color: #ffeded;
      }
    }
  }


  // POST LIST SECTION
  >section.post_list {
    min-height: 180px;
  }
  >section.post_list >article {
    >a.upvote_count_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      >span {
        display: flex;
        width: 24px;
        height: 16px;
        color: #dedede;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        border-radius: 4px;
        border: 2px solid #EEEEEE;
        //background-color: #768ad5;
        background-color: #f5f5f5;
      }
    }
    >a.upvote_count_icon.lv1 >span {
      $background_color: #ddebf8;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    >a.upvote_count_icon.lv2 >span {
      $background_color: #d2e4f5;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    >a.upvote_count_icon.lv3 >span {
      $background_color: #80b4e3;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    >a.upvote_count_icon.lv4 >span {
      $background_color: #2285d4;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    >a.upvote_count_icon.lv5 >span {
      $background_color: #287bc1;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    >a.upvote_count_icon.lv6 >span {
      $background_color: #1f629a;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }

    >div.title {
      >div.image_icon {
        width: 18px;
        height: 18px;
        background-image: $icon_image_lightgray;
        background-size: cover;
        margin-left: 5px;
        filter: brightness(1.2);
      }
    }
  }


  >section.post_list >div.empty_board_message {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    >span {
      user-select: none;
      color: #9a9a9a;
      font-size: 14px;
      font-family: "Noto Serif KR", serif;
    }
  }


  >div.gap {
    width: 99%;
    height: 8px;
    margin: auto;
    background-color: #{$article_border_color};
  }
}



// PAGE NAVIGATION, POST WRITING BUTTON SECTION
.container >section.page_nav_post_write_button {
  display: flex;
  align-items: center;
  >div:first-of-type {
    margin: auto;
  }
  >button {
    margin: 0 2px;
  }
}