@import "pages/variables";


.container {

  >section {
    border-right: 2px solid #d8dadc;
    border-left: 2px solid #d8dadc;
  }
}



$section_top_left_width: 700;

$title_height: 42;
$title_margin_top: 5;
$title_margin_bottom: 58;
$title_box_height: #{$title_height + $title_margin_top + $title_margin_bottom};

$hot_post_title_color: #6c88b3;



// SECTION TOP
.container >section.top {
  background-color: #ffffff;
  display: flex;
  padding: 15px 30px;
  width: $main-panel-width;
  height: 280px;

  // INNER LEFT SECTION
  >section.left {
    width: #{$section_top_left_width}px;
    display: inline-block;

    >div.title {
      width: fit-content;
      margin-top: #{$title_margin_top}px;
      margin-bottom: #{$title_margin_bottom}px;
      >a>h1 {
        cursor: pointer;
        font-size: 42px;
        font-weight: 700;
        line-height: #{$title_height}px;
        height: #{$title_height}px;
        color: #303030;
        &:active {
          color: #555555;
        }
      }
    }

    // BLOCK CONTAINS INNER FIRST, SECOND ARTICLE SECTIONS
    >section.top_left_bottom_block {
      display: flex;
      flex-direction: column;
      height: calc(100% - #{$title_box_height}px);

      >section.hot_post_list_title {
        width: 100%;
        border-bottom: 1px solid #{$hot_post_title_color};
        margin-bottom: 2px;
        >p {
          color: #{$hot_post_title_color};
        }
      }
      >section.hot_post_list_content {
        display: flex;
        >section.hot_post_list {
          position: relative;
          padding: 0 4px;
          display: inline-block;
          width: 33.3%;

        }
      }
    }
  }

  // INNER RIGHT SECTION
  >section.right {
    //width: 286px;
    width: calc(100% - #{$section_top_left_width}px);
    height: 100%;
    display: inline-block;

    >section.hot_post_list_title {
      width: 100%;
      border-bottom: 1px solid #{$hot_post_title_color};
      margin: 12px 0 2px 15px;
      >p {
        color: #{$hot_post_title_color};
      }
    }
    >section.hot_post_list {
      position: relative;
      padding: 0 0 0 15px;
      display: inline-block;
      width: 100%;
      height: 100%;

    }
  }
}


// SECTION MIDDLE
.container >section.middle {
  background-color: #ffffff;
  width: $main-panel-width;

  // INNER SECTION AD
  >section.first {
    padding: 15px 0;
  }
}


// SECTION BOTTOM
.container >section.bottom {
  background-color: #ffffff;
  width: $main-panel-width;
  padding: 5px 30px 30px 30px;
}