@import "pages/variables";


.container {
  overflow: hidden;
  transition: height .3s;
}


$rowHeight: 30;
$padding: 8;


// HEIGHT
.container.row1 {
  height: #{$rowHeight*1}px;
}
.container.row2 {
  height: #{$rowHeight*2}px;
}
.container.row6 {
  height: #{$rowHeight*6}px;
}
.container.row12 {
  height: #{$rowHeight*12}px;
}
.container.row13 {
  height: #{$rowHeight*13}px;
}


.container.hide {
  height: 0;
  overflow: hidden;
}