@import "pages/variables";



.container {

}



// ADD NEW COMICS BUTTON
.container div.add_new_comics {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 30px;
  user-select: none;
  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    >div.icon {
      width: 38px;
      height: 38px;
      background-image: $icon_add_circle;
      background-size: cover;
      margin-right: 4px;
      filter: brightness(.9);
    }
    >p {
      font-size: 20px;
      line-height: 20px;
      color: #9A9A9A;
      white-space: nowrap;
    }

    &:hover {
      >div.icon {
        filter: brightness(.3);
      }
      >p {
        color: #262626;
      }
    }
    &:active {
      >div.icon {
        filter: brightness(.5);
      }
      >p {
        color: #505050;
      }
    }
  }
}


// COMICS ITEM
.container div.comics_item {
  display: inline-block;
  margin: 0 4px 8px 4px;
  width: 100px;
  vertical-align: top;

  >section.thumbnail {
    >img {
      width: 100%;
      height: 120px;
      object-fit: contain;
    }
  }

  >section.info {
    >div.ep {
      >p {
        color: #1889e3;;
        text-align: center;
        font-size: 12px;
      }
      >p.volume {
      }
      >p.issue {
      }
    }
  }
}


// COMICS INFO
.container div.comics_info {
  margin-bottom: 12px;
  padding: 4px 4px 2px 4px;

  &:hover {
    background-color: #F8F8F8;

    div.add_new_comics {
      opacity: 1;
    }
  }

  >section.title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    >div.status {
      border: 2px solid #4CAF50;
      background-color: #cbffcd;
      color: #4CAF50;
      border-radius: 4px;
      margin-right: 15px;
      font-size: 20px;
      line-height: 20px;
      padding: 2px 2px;
      display: flex;
      cursor: default;
      white-space: nowrap;
      >div.icon {
        width: 20px;
        height: 20px;
        background-image: $icon_verified;
        background-size: cover;
        margin-right: 1px;
      }
    }
    >a:nth-of-type(1) {
      >p.kor {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
      }
      >p.origin {
        font-size: 16px;
        color: #b4b4b4;
        font-weight: 700;
      }
    }
  }

  >section.list {
    >div {
      margin-bottom: 8px;
      >section.translator {
        width: fit-content;
        font-size: 10px;
        line-height: 11px;
        font-weight: 300;
        border: 1px solid #242424;
        background-color: #333333;
        border-radius: 2px;
        padding: 2px 4px;
        word-break: break-all;
        margin-bottom: 4px;

        >span:nth-of-type(1) {
          color: #c8c8c8;
        }
        >span.nickname {
          color: #9A9A9A;
        }
      }
    }
  }
}
.container div.comics_info.highlight {
  background-color: #e7ecff;
  padding-left: 4px;
}


.container >section.title {
  margin-bottom: 15px;
  display: flex;
  >p.logo {
    font-family: "Staatliches", sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-right: 8px;
  }
  >p.title {
    font-size: 34px;
    font-weight: 700;
  }
}


.container >section.comics_search {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 8px;

  >div.search_bar {
    border: 1px solid #AEAEAE;
    border-radius: 14px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    width: fit-content;
    >div.icon {
      width: 16px;
      height: 16px;
      background-image: $icon_search;
      background-size: cover;
      filter: brightness(.8);
    }
    >input[type="text"] {
      font-size: 14px;
      width: 200px;
      border: none;
      background-color: transparent;
    }
  }

  >div.search_button {
    margin-left: 8px;
    >p {
      cursor: pointer;
      font-size: 16px;
      line-height: 16px;
      border: 2px solid transparent;
      border-radius: 2px;
      padding: 2px;
      user-select: none;
      &:hover {
        //color: #2196f3;
        text-decoration: underline;
      }
      &:active {
        //color: #2196f3;
        border: 2px solid #262626;
      }
    }
  }
}


.container >section.search_indexes {
  margin-bottom: 30px;
  margin-left: 8px;

  >div.search_index_button {
    display: inline-block;
    padding: 2px 12px;
    border: 1px solid #bababa;
    border-radius: 14px;
    min-width: 60px;
    text-align: center;
    font-size: 16px;
    background-color: #e5e5e5;
    margin: 0 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #d7d7d7;
    }
    &:active {
      background-color: #c4c4c4;
    }
  }
  >div.search_index_button.selected {
    background-color: #262626;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .4) inset;
    color: #F5F5F5;
  }
}


.container >section.comics_list {
  display: flex;
  flex-direction: column;
  //margin-bottom: 30px;

  >div.no_result_message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 4px 4px 2px 4px;
    font-size: 18px;
    color: #AEAEAE;
    text-align: center;
  }
}


.container >section.page_nav {
  margin-bottom: 60px;
}