@import "pages/variables";

.container {
  margin-top: 20px;
  color: #d7d7d7;
  background-color: transparent;
  position: relative;
  width: 100%;
  min-width: calc(#{$doc-width} + #{$panel-margin*2});
  //border-top: 3px solid #d8dadc;
  font-size: 10px;
}