@import "pages/variables";


.wrapper {
  width: $main-panel-width;
  background-color: #ffffff;
  padding: 30px;

  h3 {
    width: fit-content;
    border-bottom: 1px solid #e1e1e1;
  }

  blockquote {
    width: fit-content;
    margin: 0;
    padding: 15px;
    color: #5c5c5c;
    font-weight: 200;
    background: #eee;
    border-radius: 4px;
  }

  input[type="email"], input[type="text"] {
    font-family: "Noto Sans KR", sans-serif;
    width: 220px;
    margin: 0 5px;
    padding-left: 8px;
    border: 1px solid #eaeaea;
    outline: none;
    height: 24px;
  }

  input[type="submit"] {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #3b5cd4;
    background-color: transparent;
    outline: transparent;
    border: transparent;
    cursor: pointer;
    &:hover {
      color: #768ad5;
    }
    &:active {
      outline: auto;
    }
  }
}

.id-finder {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  .id {
    color: #5c5c5c;
    width: 280px;
    height: 20px;
    line-height: 20px;
    margin: 15px 15px;
    border-bottom: 1px solid #5c5c5c;
    text-align: center;
  }


  form {
    margin-bottom: 10px;
  }

  .retrieve-id {
    margin-top: 10px;
    display: flex;
    align-items: center;

    label {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      color: #3b5cd4;
      padding: 0 6px;
      background-color: transparent;
      outline: transparent;
      border: transparent;
      cursor: pointer;
      &:hover {
        color: #768ad5;
      }
      &:active {
        outline: auto;
      }
    }

    @keyframes colorIn {
      from {
        color: #eaeaea;
        transform: scale(.9);
      }

      to {
      }
    }

    .success {
      color: #3b5cd4;
      animation-duration: .8s;
      animation-name: colorIn;
      cursor: inherit;
      &:hover {
        color: #3b5cd4;
      }
      &:active {
        outline: none;
      }
    }
    .failed {
      color: #ff4b4b;
      animation-duration: .8s;
      animation-name: colorIn;
      cursor: inherit;
      &:hover {
        color: #ff4b4b;
      }
      &:active {
        outline: none;
      }
    }
  }
}

.pw-finder {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  input[type="text"] {
    margin: 5px 0;
  }

  input[type="email"] {
    margin: 5px 0;
  }


  .success {
    font-size: 14px;
    color: #3b5cd4;
    animation-duration: .8s;
    animation-name: colorIn;
  }
  .failed {
    font-size: 14px;
    color: #ff4b4b;
    animation-duration: .8s;
    animation-name: colorIn;
  }
}