.container {
  font-size: inherit;
  display: flex;
  align-items: center;
  height: 100%;

  >p {
    display: inline-block;
  }
}


/* CURSOR */
@keyframes blink {
  50% { background-color: transparent }
}

.cursor {
  width: 4px;
  height: 1em;
  background-color: lawngreen;
  display: inline-block;
}

.blink {
  animation: blink 1.2s step-start infinite;
}