.container {
  font-size: 12px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #262626;
  color: lawngreen;

  >section {
    display: block;
    height: 30px;
  }
}

.container >section:nth-of-type(1) {

}

.container >section:nth-of-type(2) {
  >input[type="text"], >input[type="password"] {
    width: 120px;
    background-color: transparent;
    border: 1px solid #4a9300;
    color: lawngreen;
    margin: 0 2px;
    &::placeholder {
      color: #4a9300;
    }
  }
  >input[type="text"] {

  }


  >button.confirm {
    background-color: transparent;
    border: none;
    color: lawngreen;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    &:hover {
      color: #60c201;
    }
    &:active {
      color: #4c9901;
    }
  }
}
