@import "../../../../pages/variables";



.container {
  height: 100%;
  border: 1px solid #d5d5d5;
  background-color: #ECECEC;
  color: #262626;
  padding: 8px;

  >textarea {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #D5D5D5;

    resize: none;
    font-size: 11px;
    font-family: "Noto Sans KR", sans-serif;
  }

  >section.input {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    >textarea {
      display: block;
      width: 100%;
      background-color: transparent;
      border: 1px solid transparent;

      resize: none;
      text-align: center;
      font-family: "Noto Sans KR", sans-serif;
      color: #2196f3;
      text-decoration: underline;
      font-style: italic;
      font-size: 22px;
      font-weight: 700;
    }
    >button {
      margin-top: 8px;
      padding: 2px 40px;
      border: 1px solid #5b7be3;
      background-color: #5b7be3;
      font-family: "Noto Sans KR", sans-serif;
      margin-left: 4px;
      color: #f5f5f5;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      &:hover {
        background-color: #4a63b6;
      }
      &:active {
        background-color: #3c5197;
      }
    }
  }

  >section.error_message {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 4px;
    align-items: center;
    background-color: #262626;
    color: lawngreen;
    transition: height .3s;
    overflow: hidden;
  }
  >section.error_message.hide {
    height: 0;
  }
}