@import "../../../../pages/variables";



.container {
  height: 100%;
  border: 1px solid #d5d5d5;
  background-color: #ECECEC;
  color: #262626;
  padding: 8px;

  >textarea {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #D5D5D5;

    resize: none;
    font-size: 11px;
    font-family: "Noto Sans KR", sans-serif;
  }

  >section.input {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    >div {
      width: 420px;
      height: 248px;
      background-color: #AEAEAE;
      position: relative;
      &::before {
        content: "YouTube";
        position: absolute;
        z-index: 0;
        top: 0;
        width: 420px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #818381;
      }
      >iframe {
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }
    >button {
      margin-top: 8px;
      padding: 2px 40px;
      border: 1px solid #5b7be3;
      background-color: #5b7be3;
      font-family: "Noto Sans KR", sans-serif;
      margin-left: 4px;
      color: #f5f5f5;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      &:hover {
        background-color: #4a63b6;
      }
      &:active {
        background-color: #3c5197;
      }
    }
  }

  >section.error_message {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0 4px;
    align-items: center;
    background-color: #262626;
    color: lawngreen;
    transition: height .3s;
    overflow: hidden;
  }
  >section.error_message.hide {
    height: 0;
  }
}