@import "pages/variables";



.container {

}


// EDITIONS COUNT MESSAGE SECTION
.container >section.editions_count_message {
  margin-bottom: 30px;
  display: flex;
  >p {
    font-size: 26px;
    font-weight: 700;
  }
}


// LIST SECTION
.container >section.list {

}


// BOOK LIST
.container div.book_list {

  >section.translator {
    font-size: 12px;
    display: flex;
    width: fit-content;
    margin-bottom: 15px;

    >p:nth-of-type(1) {
      border-bottom: 2px solid #262626;
    }
    >p:nth-of-type(2) {
      margin-left: 4px;
      color: #9A9A9A;
    }
  }

  >section.list {
    margin-bottom: 15px;
  }
}


// BOOK
.container div.book_list div.book {
  position: relative;
  margin: 0 10px 45px 10px;
  display: inline-block;

  &:hover {
    >a.cover_img >div.no_thumbnail {
      bottom: 8px;
      transition: bottom .2s;
    }
    >a.cover_img >img {
      bottom: 8px;
      transition: bottom .2s;
    }
    >div.episode >a {
      color: #e62429;
    }
  }

  >a.cover_img {
    display: flex;
    $img_width_st: 82;
    min-width: #{$img_width_st*2}px;
    margin-bottom: 30px;
    position: relative;
    >img {
      position: relative;
      max-height: #{$img_width_st*3}px;
      max-width: #{$img_width_st*4}px;
      object-fit: contain;
      box-shadow: 0 26px 24px -16px rgba(0, 0, 0, .4);
      bottom: 0;
      transition: bottom .3s;
      cursor: pointer;
    }
    >div.no_thumbnail {
      cursor: pointer;
      position: relative;
      box-shadow: 0 26px 24px -16px rgba(0, 0, 0, .4);
      bottom: 0;
      transition: bottom .3s;
      width: #{$img_width_st*2}px;
      height: #{$img_width_st*3}px;
      border-radius: 2px;
      border: 1px solid #CFD8DC;
      background-color: #ECEFF1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;
      >p {
        color: #B0BEC5;
        height: fit-content;
      }
      >p.origin_title {
        color: #CFD8DC;
      }
    }
  }
  >div.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    >a {
      display: block;
      max-width: fit-content;
      font-size: 13px;
      color: #262626;
      font-weight: 700;
      cursor: pointer;
    }
  }
}