// Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=fallback');

// Noto Serif KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;700&display=fallback');

// Staatliches
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=fallback');

// Yellowtail
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
