$icon_article_gray: url("/icons/svg/small/article.svg");
$icon_article_blue: url("/icons/svg/small/article_blue.svg");
$icon_mail_gray: url("/icons/svg/small/mail.svg");
$icon_notification_gray: url("/icons/svg/small/notification.svg");
$icon_bookmarks_gray: url("/icons/svg/small/bookmarks.svg");
$icon_image_lightgray: url("/icons/svg/small/photo_lightgray.svg");
$icon_image_blue: url("/icons/svg/small/photo_blue.svg");
$icon_small_checkbox_blank: url("/icons/svg/small/check_box_blank.svg");
$icon_small_checkbox_checked: url("/icons/svg/small/check_box_checked.svg");
$icon_account_gray: url("/icons/svg/small/account.svg");
$icon_setting_gray: url("/icons/svg/small/setting.svg");
$icon_clear_red: url("/icons/svg/small/clear_red.svg");
$icon_more_dots_horiz: url("/icons/svg/small/more_horiz.svg");
$icon_trash_can_lightgray: url("/icons/svg/small/trash_can_lightgray.svg");
$icon_trash_can_red: url("/icons/svg/small/trash_can_red.svg");
$icon_triangle_arrow: url("/icons/svg/small/triangle_arrow.svg");
$icon_arrow_right: url("/icons/svg/small/arrow_right.svg");
$icon_arrow_left: url("/icons/svg/small/arrow_left.svg");
$icon_new_file_red: url("/icons/svg/small/new_file_red.svg");
$icon_home: url("/icons/svg/small/home.svg");
$icon_star_yellow: url("/icons/svg/small/star_yellow.svg");
$icon_comment: url("/icons/svg/small/comment.svg");
$icon_comment_blue: url("/icons/svg/small/comment_blue.svg");
$icon_write_post: url("/icons/svg/small/create.svg");
$icon_link: url("/icons/svg/small/link.svg");
$icon_search: url("/icons/svg/small/search.svg");
$icon_post_add: url("/icons/svg/small/post_add.svg");
$icon_delete: url("/icons/svg/small/delete.svg");
$icon_article_edit: url("/icons/svg/small/article_edit.svg");
$icon_add_circle: url("/icons/svg/small/add_circle.svg");
$icon_verified: url("/icons/svg/small/verified.svg");
$icon_keyboard_return_blue: url("/icons/svg/small/keyboard_return.svg");
$icon_reply: url("/icons/svg/small/reply.svg");
$icon_cancel_outlined: url("/icons/svg/small/cancel_outlined.svg");
$icon_cancel_outlined_red: url("/icons/svg/small/cancel_outlined_red.svg");
$icon_plus: url("/icons/svg/small/plus.svg");
$icon_minus: url("/icons/svg/small/minus.svg");
$icon_thumb_up_red: url("/icons/svg/small/thumb_up_red.svg");
$icon_thumb_up_red_fill: url("/icons/svg/small/thumb_up_red_fill.svg");
$icon_circle_fill_red: url("/icons/svg/small/circle_fill_red.svg");