@import "variables";


$panel-padding: 20px;
$left-panels-width: 460px;
$right-panels-width: 400px;


$separator_color: #d6d6d6;


.container {
  width: $main-panel-width;
  //min-height: 1400px;
  padding: 15px;
  background-color: #ffffff;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;

}



// FIRST SECTION
.container >section:nth-of-type(1) {
  width: 100%;
  height: 568px;
  display: flex;
  margin-bottom: 20px;

  $right_section_width: 340;
  $left_section_margin_right: 15;


  // LEFT SECTION, COMICS CARD
  >section:nth-of-type(1) {
    width: calc(100% - #{$right_section_width + $left_section_margin_right}px);
    margin-right: #{$left_section_margin_right}px;

    $comics_section_margin: 8;

    // TOP
    >section:nth-of-type(1) {
      height: calc(50% - #{$comics_section_margin/2}px);
      margin-bottom: #{$comics_section_margin}px;
      display: flex;
    }
    // BOTTOM
    >section:nth-of-type(2) {
      height: calc(50% - #{$comics_section_margin/2}px);
      display: flex;
    }
  }


  // RIGHT SECTION, BEST POSTS
  >section:nth-of-type(2) {
    width: #{$right_section_width}px;

    >section.notice {
      height: 30px;
      margin-bottom: 20px;
    }

    >section.best_post {
      $color: #6c88b3;

      >div.title {
        font-weight: 700;
        vertical-align: center;
        font-size: 18px;
        color: #{$color};
        border-bottom: 1px solid #{$separator_color};
        position: relative;
        //padding-bottom: 5px;
        margin-bottom: 5px;
        >span {
          position: relative;
          bottom: -1.5px;
          font-weight: 400;
          font-size: 22px;
          font-family: "Staatliches", sans-serif;
        }
      }
      >div.separator {
        width: 100%;
        border-bottom: 1px solid #{$separator_color};
        margin: 5px 0;
      }
    }
  }
}



// SECOND SECTION
.container >section:nth-of-type(2) {
  width: 100%;
  height: 284px;
  position: relative;
  display: flex;

  $first_section_width: 340;

  >section:nth-of-type(1) {
    width: #{$first_section_width}px;
    height: 100%;
  }

  >section:nth-of-type(2) {
    width: calc(100% - #{$first_section_width}px);
    display: flex;
    justify-content: space-evenly;
    >section {
      width: 50%;
      padding: 10px 0;
      &:first-of-type {
        padding-left: 10px;
      }
      &:nth-of-type(2) {
        padding-left: 10px;
      }
      >div.title {
        $color: #6c88b3;

        font-weight: 700;
        vertical-align: center;
        font-size: 18px;
        color: #{$color};
        border-bottom: 1px solid #{$separator_color};
        position: relative;
        margin-bottom: 5px;
      }
    }
  }
}



