@import "variables";

.container {
  display: flex;
  margin: auto;
  padding: 0 $panel-margin;
  width: calc(#{$doc-width} + #{$panel-margin*2});
  min-width: calc(#{$doc-width} + #{$panel-margin*2});
}


.container >div.content_area {
  min-width: $main-panel-width;
}

//@media (min-width: $standard-desktop-width) {
//}
//@media (max-width: $standard-desktop-width) {
//}