@import "pages/variables";


//$color: #6c88b3;
$color: #9a9a9a;
$time_div_width: 40;


.container {
  display: flex;
  opacity: 1;
  &:hover {
    opacity: 1;
    >div.content>label {
      opacity: 1;
    }
  }
  >div.content {
    width: calc(100% - #{$time_div_width}px);
    display: flex;
    align-items: center;
    >label {
      opacity: .65;
      cursor: default;
      $color: #ff4b4b;
      width: 24px;
      height: 16px;
      font-size: 11px;
      color: #{$color};
      border: 1px solid #{$color};
      border-radius: 4px;
      background-color: #ffeded;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    >a {
      display: block;
      color: #{$color};
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: calc(100% - 29px);
    }
  }
  >div.time {
    color: #{$color};
    cursor: default;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    width: #{$time_div_width}px;
  }
}