@import "pages/variables";


.post_list {
  padding: 4px 0;

  >article {
    padding: 4px 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 27.2px;

    &:hover {
      background-color: #f6f6f6;
      >div.content>a.post_title {
        color: #435e87;
      }
    }

    >div.category_icon {
      cursor: default;
      text-align: center;
      width: 46px;
      height: fit-content;
      //background-color: #435e87;
      //background-color: #5a6f8e;
      background-color: #6c7f9c;
      color: #bdcadf;
      border-radius: 2px;
      padding: 1px 0;
      font-size: 10px;
      font-weight: 300;
      margin-right: 6px;
      font-stretch: extra-condensed;
    }

    >div.content {
      font-size: 14px;
      display: flex;
      align-items: center;
      >a.post_title {
        font-size: 13px;
        display: inline-block;
        max-width: calc(100% - 20px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:active {
          color: #ea5a3e;
        }
      }
      >span.comment_count {
        cursor: default;
        display: inline-block;
        color: #ff4b4b;
        font-size: 11px;
        margin-left: 4px;
        height: fit-content;
      }
    }

    >div.content.width_type1 {
      width: calc(100% - 52px);
    }
    >div.content.width_type2 {
      width: 100%;
    }
  }

  >div.empty {
    display: flex;
    align-items: center;
    width: 100%;
    color: #D5D5D5;
  }
}