.container {

}



// BOARD INFO
.container >section.first {
  margin-bottom: 10px;
}


// TITLE
.container >section.second {
  margin-bottom: 15px;
}


// META INFO
.container >section.third {
  border-bottom: 1px solid #e1e1e1;
}


// ARTICLE
.container >section.forth {
  margin: 80px 0;
  padding: 0 5px;
}


// AD, UPVOTE, SIGNATURE
.container >section.fifth {
  border-top: 1px solid #e1e1e1;
  padding-top: 4px;
  display: flex;
  align-items: center;
}


// EDIT, DELETE BUTTONS
.container >section.sixth {
  margin-top: 30px;
}


// META INFO, REPORT, SHARE, BOOKMARK
.container >section.seventh {
  display: flex;
  flex-direction: column;

  >section:nth-of-type(1) {
    display: flex;
  }
}