@import "pages/variables";


.container {
  >section {
    border-radius: 2px;
  }
}

// BLOCK SECTIONS
$first_block_width: 130px;
$third_block_width: 50px;
$second_block_width: calc(100% - (#{$first_block_width + $third_block_width}));
$best-section-color: #e4e8f6;
$def_border_color: #F3F3f3;

$def_article_background_color: #FFFFFF;
//$def_article_first_block_color: #F8F8F8;
$def_article_first_block_color: #FFFFFF;
$def_article_border_left_color: $def_border_color;
$def_article_border_top_color: #e1e1e1;

//$reply_article_background_color: #f9f9f9;
$reply_article_background_color: #FFFFFF;
//$reply_article_first_block_color: #F5F5F5;
$reply_article_first_block_color: #FFFFFF;
//$reply_article_border_left_color: #B0BEC5;
$reply_article_border_left_color: #315674;
$reply_article_border_top_color: #F6F6F6;



// COMMENT ARTICLE
article.comment {
  position: relative;

  border-left: 2px solid $def_border_color;
  border-right: 2px solid $def_border_color;
  border-top: 1px solid $def_article_border_top_color;
  background-color: $def_article_background_color;
  >section.top {
    min-height: 46px;
    display: flex;
    align-items: stretch;
  }
  >section.bottom {
    display: flex;
    justify-content: center;
    padding-left: 70px;
    padding-top: 4px;
    padding-bottom: 20px;
  }
  >section.reply_comment {
    //padding-left: 110px;
  }

  &:first-child {
    border-top: 2px solid $def_border_color;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  &:last-child {
    border-bottom: 2px solid $def_border_color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
article.comment.outline {
  >div.focused_outline_top {
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 1px;
    background-color: #ffde00;
  }
  >div.focused_outline_bottom {
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 100%;
    height: 1px;
    background-color: #ffde00;
  }
  >div.focused_outline_right {
    position: absolute;
    left: 1px;
    width: 2px;
    height: 100%;
    background-color: #ffde00;
  }
  >div.focused_outline_left {
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #ffde00;
  }
}


// BEST COMMENTS SECTION
section.best-comments {
  >article.comment {
    border-right: 2px solid $best-section-color;
    border-left: 2px solid $best-section-color;
    border-top: 1px solid #dbe0f5;
    background-color: #f5faff;

    >section.top >section.first {
      background-color: #e6f5ff;
    }
    &:first-child {
      border-top: 2px solid $best-section-color;
    }
    &:last-child {
      border-bottom: 2px solid $best-section-color;
    }
  }
}


// ALL COMMENTS SECTION
section.all-comments {
  >article.comment.best {
    position: relative;
  }
}


// ARTICLE__REPLY COMMENT
article.comment.reply_comment {
  $cocoment-icon-size: 15px;

  background-color: $reply_article_background_color;
  position: relative;
  border-top: 1px solid $reply_article_border_top_color;

  &::before {
    position: absolute;
    content: "";
    height: calc(100% + 1px);
    left: 0;
    top: -1px;
    border-left: 2px solid $reply_article_border_left_color;
  }

  >section.top {
    >section.first {
      //margin-left: 10px;
      //width: calc(#{$first_block_width} + 10px);
      width: $first_block_width;
      background-color: $reply_article_first_block_color;

      >div.reply_comment_icon {
        width: $cocoment-icon-size;
        height: $cocoment-icon-size;
        background-image: $icon_keyboard_return_blue;
        transform: scaleX(-1);
        background-size: cover;
        //background-image: $icon_reply;
        //transform: rotate(180deg);
        filter: saturate(.6) brightness(.5);
      }
    }
    >section.second {
      padding-left: 25px;

      >div.best-icon {
      }
      >div.content {
        >div.reply_comment_icon {
          margin-top: 3px;
          display: inline-block;
          width: $cocoment-icon-size;
          height: $cocoment-icon-size;
          background-image: $icon_reply;
          background-size: cover;
          transform: rotate(180deg);
          filter: brightness(60%);
        }
        >div.comment {
          display: flex;
          flex-direction: column;
          padding-left: 3px;
          width: calc(100% - 14px);
          white-space: pre-wrap;
        }
      }
    }
  }
}


// ARTICLE__DELETED
article.comment.deleted {
  $color: #f9f9f9;
  background-color: #{$color};
  >section.top {
    min-height: 20px;
    >section.first {
      background-color: #{$color};
      >label.nickname {
        color: #2c2c2c;
        cursor: default;
      }
    }
    >section.second {
      padding: 2px 10px;
    }
  }
}






// BLOCK FIRST
article.comment >section.top >section.first {
  display: flex;
  align-items: center;
  width: $first_block_width;
  padding: 0 10px;
  background-color: $def_article_first_block_color;

  >label { display: block }
  >label.nickname {
    width: fit-content;
    font-size: 11px;
    font-weight: 300;
    color: #9A9A9A;
    cursor: pointer;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover { color: #2c2c2c }
  }
  >label.nickname.post-owner {
  }
}


// BLOCK SECOND
article.comment >section.top >section.second {
  width: $second_block_width;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 11px 10px;

  // COMMENT CONTENT
  >div.content {
    display: flex;
    width: 100%;
    font-size: 13px;
    margin: 0 auto 0 0;

    >div.comment {
      white-space: pre-wrap;

      >div.media {
        width: 100%;
        display: block;
        margin-bottom: 7px;
        >img {
          max-width: 100%;
        }
        >iframe {
          max-width: 100%;
        }
      }
      >div.text {
        display: inline;
      }
    }
    >div.comment.deleted {
      user-select: none;
      color: #d2d2d2;
      font-weight: 300;
      font-size: 11px;
      font-family: "Noto Serif KR", serif;
      white-space: nowrap;
    }
  }


  // BEST ICON & UPVOTE COUNT ICON
  >section.best_icon_upvote_count_icon {
    margin: 0 auto 8px 0;
    display: flex;
    align-content: center;

    // BEST COMMENT ICON
    >div.best-icon {
      background-color: #3b5cd4;
      border: 1px solid #3653bd;
      color: #FFFFFF;
      min-width: 46px;
      padding: 0 10px;
      user-select: none;
      margin: auto 8px auto 0;
      height: 16px;
      display: flex;
      align-content: center;
      >span {
        font-size: 10px;
        line-height: 11px;
        height: fit-content;
        margin: auto;
      }
    }

    // COMMENT UPVOTE COUNT ICON
    $upvote_icon_color: #fa9393;
    >div.upvote_count_icon {
      cursor: pointer;
      display: flex;
      align-content: center;
      justify-content: center;
      background-color: #FFFFFF;
      border: 1px solid #{$upvote_icon_color};
      padding: 0 6px 0 4px;
      height: 16px;
      border-radius: 2px;
      >div.icon {
        margin: auto 0 auto auto;
        $size: 12;
        width: #{$size}px;
        height: #{$size}px;
        background-image: $icon_thumb_up_red;
        background-size: cover;
        filter: brightness(1.1) saturate(1);
      }
      >span {
        width: fit-content;
        margin: auto auto auto 3px;
        height: fit-content;
        line-height: 12px;
        color: #{$upvote_icon_color};
        font-weight: 400;
        font-size: 11px;
      }
    }
    >div.upvote_count_icon.fill_icon {
      >div.icon {
        background-image: $icon_thumb_up_red_fill;
        filter: brightness(.9) saturate(1.8);
      }
    }
    >div.upvote_count_icon.fill {
    }
  }
  >section.best_icon_upvote_count_icon.blank {
    margin: 0 auto 0 0;
    >div.upvote_count_icon {
      cursor: default;
      filter: saturate(0);
      opacity: .2;
      border: none;
    }
  }


  // REPLIED COMMENT NICKNAME
  >div.replied_nickname {
    font-size: 10px;
    color: #cccccc;
    font-weight: 300;
    margin: 0 auto 4px 10px;
    cursor: default;
  }



  >div.content .tail {
    margin-left: 10px;
    display: inline-flex;
    vertical-align: middle;
    user-select: none;

    >span {
      display: inline-flex;
      align-items: center;
      font-size: 10px;
      color: #e1e1e1;
      label {
        white-space: nowrap;
        cursor: pointer;
      }
    }
    >span.reply {
      opacity: .5;
      cursor: pointer;
      >label.icon {
        opacity: .8;
        width: 14px;
        height: 14px;
        background-image: $icon_keyboard_return_blue;
        background-size: cover;
        transform: scaleX(-1);
        filter: saturate(.3);
      }
      >label {
        color: #768ad5
      }
      &:hover {
        opacity: 1;
        filter: saturate(1);
        >label.icon {
          filter: saturate(1);
        }
      }
    }
    >span.upvote {
      opacity: .5;
      margin: auto 0 auto 4px;
      cursor: pointer;
      color: #ff4b4b;
      filter: saturate(.8);
      >label.icon {
        margin-right: 1px;
        width: 12px;
        height: 12px;
        background-image: $icon_thumb_up_red;
        background-size: cover;
      }
      &:hover {
        opacity: 1;
        filter: saturate(1);
      }
    }
  }
}


// BLOCK THIRD
article.comment >section.top >section.third {
  width: $third_block_width;
  padding: 0 5px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  >div.options {
    font-size: 11px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #aeaeae;
    >section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        display: flex;
        cursor: pointer;
      }
      div {
        display: flex;
        align-items: center;
      }
    }

    >section.second {
      width: 40px;
      >div {
        font-size: 10px;
        color: #e1e1e1;
        margin: 0 4px;
      }
      >div.time {
        cursor: default;
        &:hover { color: #2c2c2c }
      }
      >div.report {
        cursor: pointer;
        &:hover { color: #ff4b4b }
      }
      >div.delete {
        cursor: pointer;
        &:hover { color: #ff4b4b }
      }
      >div.delete.indicate {
        cursor: pointer;
        color: #ff4b4b;
        &:hover {
          color: #ff5f5f;
          text-decoration: underline;
        }
      }
    }

    i {
      height: 8px;
      border-right: 1px solid #aeaeae;
    }
  }
}


// SPACE BETWEEN
div.gap {
  width: 99%;
  margin: 0 auto 0 auto;
  height: 8px;
  background-color: $def_border_color;
}


// PAGE NAVIGATION SECTION
.container >section.navigation {

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 60px;

  >div:not(.numbers) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 4px;
    border-radius: 2px;
    cursor: pointer;
    >div.icon {
      width: 5px;
      height: 8px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    >span {
      font-size: 12px;
    }

    &:hover {
      background-color: #e1e1e1;
    }
    &:active {
      box-shadow: 0 0 0 1px #262626 inset;
    }
  }

  >div.to-firstpage {
    >div.icon {
      background-image: $icon_arrow_left;
    }
    >span {
      margin-left: 2px;
    }
  }
  >div.to-prevpage {
    >div.icon {
      background-image: $icon_arrow_left;
    }
    >span {
      margin-left: 2px;
    }
  }
  >div.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    >p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      width: 27px;
      height: 36px;
      border-radius: 2px;
      &:hover {
        background-color: #e1e1e1;
      }
      &:active {
        box-shadow: 0 0 0 1px #262626 inset;
      }
    }
    >p.selected {
      background-color: #ececec;
    }
  }
  >div.to-nextpage {
    >div.icon {
      background-image: $icon_arrow_right;
    }
    >span {
      margin-right: 2px;
    }
  }
}


// COMMENT WRITE SECTION
.container >section.new_comment {
  display: flex;
  justify-content: center;
}