.container {

}


// DISPLAY BOARD NAME
.container >section.first {
  margin-bottom: 10px;
}


// POST TITLE INPUT
.container >section.second {
  margin-bottom: 12px;
}
.container >section.second.tall {
  margin-bottom: 20px;
}


// UNREG USER INFO
.container >section.third {
  margin-bottom: 10px;
}


// EDITOR
.container >section.forth {
}


// AD, UPVOTE, PHRASE
.container >section.fifth {
  border-top: 1px solid #d7d7d7;
  padding-top: 4px;
  display: flex;
  margin-bottom: 30px;
}


// UPLOAD, TEMP-SAVE BUTTONS
.container >section.sixth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  >button {
    margin: 0 2px;
  }
}


// TEMP SAVE MESSAGE
.container >section.seventh {
  margin-top: 4px;
  margin-bottom: 26px;
}