@import "pages/variables";


.container {
  position: relative;
  width: $main-panel-width;
}



// COMICS INFO
.container >section.comics_info {
  background-color: #262626;
  min-height: 600px;
  color: #F5F5F5;
  position: relative;
  overflow: hidden;

  $page_index_section_height: 55;

  >img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    filter: blur(10px);
  }

  >div.background_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: .75;
  }

  >div.front {
    position: relative;
    z-index: 2;
    padding: 15px;
    width: 100%;
    height: 100%;

    // PAGE INDEX
    >section.page_index {
      height: #{$page_index_section_height}px;

      >a.comics_page_title {
        text-shadow: 0 0 2px #F5F5F5;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: #F5F5F5;
        }
        &:active {
          opacity: .8;
        }
        >span:nth-of-type(1) {
          font-family: "Staatliches", sans-serif;
          font-size: 36px;
          line-height: 36px;
          margin-right: 8px;
        }
        >span:nth-of-type(2) {
          font-size: 28px;
        }
      }
    }


    // COMICS INFO CONTENT
    >section.content {
      display: flex;
      //min-height: calc(100% - #{$page_index_section_height}px);

      $info_panel_width: 450;

      // COMICS REF IMAGE
      >div.image {
        width: calc(100% - #{$info_panel_width}px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 80px 0 50px;
        position: relative;

        >img {
          max-width: 90%;
          max-height: 90%;
          object-fit: contain;
        }

        >section.add_image_message {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          >div.button {
            margin: auto;
            display: flex;
            align-items: center;
            opacity: .5;
            cursor: pointer;
            user-select: none;
            &:hover {
              opacity: .7;
            }
            &:active {
              opacity: .6;
            }
            >div.icon {
              $size: 40;
              width: #{$size}px;
              height: #{$size}px;
              background-image: $icon_add_circle;
              background-size: cover;
            }
            >span {
              margin-left: 4px;
              font-size: 16px;
            }
            >input[type="file"] {
              display: none;
            }
          }
        }
        >section.add_image_message.update_mode {
          opacity: 0;
          &:hover {
            opacity: 1;
          }
          >div.button {
            &:hover {
              padding: 8px;
              opacity: .8;
              background-color: black;
            }
          }
        }
      }

      // COMICS INFO
      >div.info {
        width: #{$info_panel_width}px;
        color: #F5F5F5;
        font-size: 20px;
        >* {
          margin-bottom: 20px;
        }

        // COMICS TITLE
        >div.title {
          margin-bottom: 32px;

          >p:nth-of-type(1) {
            font-size: 28px;
            font-weight: 700;
          }
          >p:nth-of-type(2) {
            color: #9A9A9A;
          }
        }

        // COMICS WRITER
        // COMICS ARTIST, ...
        >div.writer, >div.artist, >div.publisher, >div.genre, >div.content_descriptor {
          >p:nth-of-type(1) {
            opacity: .3;
          }
          >p:nth-of-type(2) {
            margin-left: 2px;
            font-size: 15px;
          }
        }

        // COMICS SUMMARY
        >div.comics_summary {
          border-top: 1px solid #D5D5D5;
          padding-top: 30px;
          font-size: 16px;

          >div.update_summary_button {
            display: flex;
            align-items: center;
            width: fit-content;
            cursor: pointer;
            opacity: .3;
            user-select: none;
            &:hover {
              opacity: .4;
            }
            &:active {
              opacity: .3;
            }
            >div.icon {
              $size: 20;
              width: #{$size}px;
              height: #{$size}px;
              background-image: $icon_add_circle;
              background-size: cover;
            }
            >span {
              margin-left: 2px;
            }
          }

          >div.input_summary {
            width: 100%;
            >textarea {
              width: 100%;
              resize: none;
              overflow-y: hidden;
              background: none;
              color: #F5F5F5;
              font-family: "Noto Sans KR", sans-serif;
              font-size: 16px;
            }
            >span.submit {
              cursor: pointer;
              user-select: none;
              &:hover {
                text-decoration: underline;
              }
              &:active {
                opacity: .6;
              }
            }
          }
        }
        >div.comics_summary.no_border {
          border: none;
        }
        >div.comics_summary.updatable {
          >div.update_summary_button {
            opacity: 0;
          }
          &:hover {
            >div.update_summary_button {
              opacity: .3;
            }
          }

        }
      }
    }


    // REGISTER BOOK
    >section.register_book {
      display: flex;
      justify-content: center;
      padding: 24px 0;

      >div {
        display: flex;
        align-items: center;
        opacity: .25;
        cursor: pointer;
        user-select: none;
        &:hover {
          opacity: .6;
        }
        &:active {
          opacity: .4;
        }
        >div.icon {
          $size: 32;
          width: #{$size}px;
          height: #{$size}px;
          background-image: $icon_add_circle;
          background-size: cover;
        }
        >p {
          margin-left: 4px;
          font-size: 24px;
        }
      }
    }
  }
}


// COMICS EDITIONS
.container >section.comics_editions {
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
  padding: 30px;
}



// ADD BUTTON
.container span.add_button {
  margin: auto 0 auto 8px;
  display: none;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
  >label.icon {
    $size: 20;
    display: inline-block;
    cursor: pointer;
    width: #{$size}px;
    height: #{$size}px;
    background-image: $icon_add_circle;
    background-size: cover;
    margin-right: 2px;
  }
}
.container span.add_button.visible {
  display: inline-flex;
}


// ADD MENU PANEL
.container div.add_menu_panel {
  display: none;
  margin-top: 8px;
  padding: 8px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;

  div.close_button {
    position: absolute;
    top: 0;
    right: 0;
    $size: 20;
    width: #{$size}px;
    height: #{$size}px;
    background-image: $icon_cancel_outlined;
    background-size: cover;
    cursor: pointer;
    opacity: .5;
    &:hover {
      opacity: .7;
    }
    &:active {
      opacity: .6;
    }
  }

  >section:nth-of-type(1) {
    display: flex;
    align-items: center;
    position: relative;

    >div.search_bar {
      display: inline-flex;
      align-items: center;
      border: 1px solid rgba(245, 245, 245, 0.5);
      border-radius: 1em;
      padding: 0 6px 0 6px;
      width: fit-content;
      >div.icon {
        $size: 18;
        width: #{$size}px;
        height: #{$size}px;
        background-image: $icon_search;
        background-size: cover;
        opacity: .5;
      }
      >input[type="text"] {
        background: none;
        border: none;
        width: 140px;
        color: #F5F5F5;
      }
    }
    >div.search_button {
      display: inline-block;
      vertical-align: center;
      opacity: .5;
      margin-left: 4px;
      cursor: pointer;
      font-size: 14px;
    }

    >div.add_new {
      display: inline-flex;
      font-size: 14px;
      align-items: center;
      opacity: .5;
      margin-left: 18px;
      cursor: pointer;
      user-select: none;
      &:hover {
        opacity: .3;
      }
      &:active {
        opacity: .2;
      }
      >div.icon {
        $size: 20;
        display: inline-block;
        cursor: pointer;
        width: #{$size}px;
        height: #{$size}px;
        background-image: $icon_add_circle;
        background-size: cover;
        margin-right: 2px;
      }
    }
  }

  // SEARCH
  >section.search {
    margin-top: 8px;
    padding: 8px 2px;
    color: rgba(245, 245, 245, 0.5);
    font-size: 14px;

    >div.searched_item {
      display: inline;
      cursor: pointer;
      color: #ffee58;
      &:hover {
        >span:first-of-type {
          text-decoration: underline;
        }
      }
    }
  }


  >section.input {
    color: rgba(245, 245, 245, 0.5);
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >p {
      margin-bottom: 4px;
    }
    >div {
      >input[type="text"] {
        background: none;
        border: 2px solid rgba(245, 245, 245, 0.5);
        width: 200px;
        color: #F5F5F5;
      }
      >span {
        cursor: pointer;
        margin-left: 8px;
        &:hover {
          opacity: .7;
        }
        &:active {
          opacity: .6;
        }
      }
    }
  }
}
.container div.add_menu_panel.visible {
  display: block;
}