.container {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 30px;
  user-select: none;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    >p.sign {
      font-family: "Staatliches", sans-serif;
      font-size: 40px;
      line-height: 40px;
      padding: 2px 12px;
    }
    >p.message {
      font-size: 20px;
    }
  }
}



.container >div.nudity {
  $color: #ffc44b;

  >p.sign {
    background-color: $color;
  }
  >p.message {
    color: $color;
  }
}

.container >div.sexuality {
  $color: #ff48d3;

  >p.sign {
    background-color: $color;
  }
  >p.message {
    color: $color;
  }
}

.container >div.extreme_violence {
  $color: #ff4b4b;

  >p.sign {
    background-color: $color;
  }
  >p.message {
    color: $color;
  }
}

.container >div.extreme_cruelty {
  $color: #ff0000;

  >p.sign {
    background-color: $color;
  }
  >p.message {
    color: $color;
  }
}