@import "pages/variables";





.container {
  display: flex;
  width: fit-content;
  padding: 2px 4px;
  user-select: none;
}
.container.disabled {
  >div.option_item {
    cursor: default;
    &:hover {
      opacity: .12;
    }
  }
  >div.option_item.selected {
    opacity: 0.12;
  }
}
.container.blocked {
  >div.option_item {
    cursor: default;
    &:hover {
      opacity: .12;
    }
  }
  >div.option_item.selected {
    color: #262626;
    border-bottom: 2px solid #262626;
    &:hover {
      opacity: 1;
    }
  }
}

.container >div.option_item {
  margin: 0 8px;
  opacity: .12;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 2px solid #262626;
  &:hover {
    opacity: .4;
  }
}
.container >div.option_item.selected {
  $color: #ff4b4b;
  opacity: 1;
  color: #{$color};
  border-bottom: 2px solid #{$color};
}
.container >div.option_item.disabled {
  cursor: default;
  opacity: .2;
  &:hover {
    opacity: .2;
  }
}