.container {

  >span.no_result {
    color: #D5D5D5;
  }

  >a {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px dashed #d6dae2;
    position: relative;

    &:last-of-type {
      border-bottom: none;
    }


    &:hover {
      background-color: #f8f8f8;
    }

    span {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      display: block;
      color: #435e87;
    }

    &:hover {
      span {
        color: #3f5d8d;
      }
    }
    &:active {
      span {
        color: #ea5a3e;
      }
    }
  }
}



$row_height: 23;


.container >a.text_article {
  $comment_count_width: 24;
  $comment_count_right_margin: 2;

  height: #{$row_height}px;
  >span:nth-of-type(1) {
    padding-left: 2px;
    max-width: calc(100% - #{$comment_count_width+$comment_count_right_margin}px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  >span:nth-of-type(2) {
    width: #{$comment_count_width}px;
    margin-left: auto;
    margin-right: #{$comment_count_right_margin}px;
    color: #ff4b4b;
    //background-color: #ff4b4b;
    font-size: 11px;
    border-radius: 2px;
    text-align: center;
  }
}


$vert_padding: 4;
$img_article_height: $row_height*3;
$img_width: 120;

.container >a.image_article {
  height: #{$img_article_height}px;
  padding: #{$vert_padding}px 0;
  >div.img {
    width: #{$img_width}px;
    height: 100%;
    padding: 0 8px 0 2px;
    position: relative;
    >img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
    }
    >p.comment_count {
      position: absolute;
      bottom: 0;
      right: 8px;
      color: #ffffff;
      background-color: #ff4b4b;
      border-top-left-radius: 4px;
      width: 30px;
      text-align: center;
      font-size: 11px;
      font-weight: 300;
    }
  }
  >div.text_content {
    width: calc(100% - #{$img_width}px);
    margin: 0 0 auto 0;
    display: flex;
    flex-direction: column;

    >span {
      line-height: 22px;
    }
    >span.title {
      height: #{$row_height}px;
    }
    >span.title.full {
      height: calc(#{$img_article_height}px - #{$vert_padding*2}px);
      white-space: normal;
    }
    >span.text {
      height: calc(#{$img_article_height}px - #{$row_height}px - #{$vert_padding*2}px);
      line-height: 14px;
      font-size: 11px;
      white-space: normal;
      font-weight: 300;
    }
  }
}