@import "../../../../../pages/variables";


.container {

  width: fit-content;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  font-weight: 300;
  user-select: none;

  p {
    display: flex;
    margin: 0 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  i {
    height: 10px;
    border-right: 1px solid #d7d7d7;
  }

  img {
    height: 16px;
    margin-right: 2px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }

  >p.report {
    //color: #ff4b4b;
  }

  >p.link-share {
    >label.icon {
      color: #93a3e0;
      font-weight: 600;
      transform: scale(0.7, .9);
      margin-right: -1px;
    }
    &:hover {
      filter: brightness(1.15);
    }
    &:active {
      filter: brightness(.9);
    }
  }

  >p.bookmark {
    img {
      margin-right: 0;
    }
  }
}