@import "pages/variables";


.container {
  width: fit-content;
  background: #ececec;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  >label {
    margin: 0 2px;
    font-size: 10px;
    color: #9a9a9a;
    font-weight: 300;
    cursor: default;
    display: block;
  }
  >input {
    width: 120px;
    margin: 0 2px;
    font-size: 12px;
    padding-left: 4px;
    background: #F5F5F5;
    border: 1px solid #d5d5d5;

    &::placeholder {
      color: #9A9A9A;
      font-size: 12px;
    }
    &:hover {
      box-shadow: 0 0 0 1px #FFDE00 inset;
    }
  }
  >input.blank {
    background-color: #F5F5F5;

    &::placeholder {
      color: #F5F5F5;
    }
    &:hover {
      box-shadow: none;
    }
  }
}