.container {

}

.container >input {
  font-weight: bold;
  padding-left: 0;
  height: 1.5em;
  font-size: 24px;
  min-width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid #FFDE00;
  }
  &:focus {
    background-color: #ffffff;
    border-bottom: 2px solid #FFDE00;
  }
  &::placeholder {
    color: #AEAEAE;
  }
}