@import "pages/variables";

$border-width: 3px;


.container {
  position: absolute;
  display: none;
  border: #{$border-width} dashed #FCD239;
  user-select: none;
  margin-left: 5px;

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333333;
    display: inline-block;
    padding: 2px 4px;
    white-space: nowrap;
    cursor: pointer;
  }

  &.visible {
    display: block;
  }
}


.container >section.keypad {
  position: absolute;
  right: calc(100% + #{$border-width} + 8px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;


  // LINE MOVE KEYS SECTION
  >section.line-move-keys {
    margin: 0 0 0 auto;

    kbd {
      width: 30px;
      height: 28px;
      margin: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      cursor: default;
      >svg.arrow {
        $size: 6px;
        width: $size;
        height: $size;
      }
      &:active {
        >svg.arrow {
          filter: brightness(200%);
        }
      }
      &.up:hover, &.down:hover {
        background-color: #DCDCDC;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
      &.up:active, &.down:active {
        background-color: #333333;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        >svg.arrow { filter: brightness(700%); }
      }
      &.pressed {
        background-color: #333333;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        >svg.arrow { filter: brightness(700%); }
      }
    }

    kbd.up >svg.arrow {

    }
    kbd.down >svg.arrow {
      transform: rotate(180deg);
    }
    kbd.right >svg.arrow {
      transform: rotate(90deg);
      filter: brightness(570%);
    }
    kbd.left >svg.arrow {
      transform: rotate(-90deg);
      filter: brightness(570%);
    }

    >div.row {
      display: flex;
      justify-content: center;
    }
  }


  // SIZE ADJ KEYS SECTION
  >section.size-change-keys {
    margin-bottom: 8px;

    >div.row {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 0 auto;
      kbd {
        width: 30px;
        height: 30px;
        font-size: 10px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(.disabled):hover {
          background-color: #DCDCDC;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
        &:not(.disabled):active {
          background-color: #333;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          color: #eee;
        }
      }
      kbd.selected {
        border: 2px solid #333;
        border-radius: 3px;
      }
      kbd.disabled {
        color: #d5d5d5;
        cursor: default;
      }
      kbd.pressed {
        background-color: #333;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        color: #eee;
      }
    }
  }
}